# Database
DB_NAME=kotobaverse
DB_USER=user
DB_PASSWORD=password
DB_URL=jdbc:postgresql://localhost:5432/kotobaverse

# Auth
AUTH_SESSION_ENCRYPTION_KEY=00112233445566778899aabbccddeeff
AUTH_SESSION_SIGNING_KEY=0102030405060708090a0b0c0d0e0f10
